<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Customers</h3>
<p>
    <a th:href="@{/customer/create}">
        Add new customer
    </a>
</p>

<table id = "customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>AVT</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${customers}">
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getEmail()}"></td>
        <td th:text="${row.getAddress()}"></td>
        <td><img th:src="@{'/i/'+ ${row.getImg()}}" width="100" height="100" alt="Khongcoanh"/></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>